@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            Hotline Number: 1-234-567-89-11
        </p>
        <i class="fa-solid fa-address-book bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            Our address: Jalan Tun Dr. Ismail, Kuala Lumpur, Malaysia
        </p>
        <i class="fa-solid fa-envelope bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            Email: something@example.com
        </p>
    </div>
</div>